@import "tailwindcss";
@theme {
    --color-azul-claro: #33DCFB;
    --color-azul-oscuro: #073D87;
    --color-gris: #736F6E;
    --color-blanco: #FAFAFA;
    --color-negro: #010101;
}

@layer components {
    
}